.features {
  @include lg-min {
    margin-bottom: ($gap * 7);
  }
  @include lg {
    margin-bottom: ($gap * 4);
  }
  &__block {
    text-align: center;

    @include lg-min {
      margin: ($gap * 5.65) ($gap * 4) ($gap * 4.3);
    }
    @include lg-md {
      margin: ($gap * 3) ($gap * 3) ($gap * 3);
    }
    @include md-sm {
      margin: ($gap * 3) ($gap * 0.5) ($gap * 2);
    }
    @include sm {
      margin: ($gap * 3) ($gap * 0.5) ($gap * 2);
    }
  }
  &__title {
    margin: 0 0 14px;

    font-size: 2rem;
  }
  &__text {
    margin: 0;

    color: $color-gray-dark;

    font-size: 1.25rem;
    line-height: 24px;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;

    @include lg-min {
      margin-right: -$gap;
      margin-left: -$gap;

      row-gap: ($gap * 3);
    }
    @include lg-sm {
      margin-right: -$gap;
      margin-left: -$gap;

      row-gap: ($gap * 2.5);
    }
    @include sm {
      row-gap: ($gap * 2);
    }
    &__item {
      display: flex;

      @include lg-min {
        flex: 1 0 33.33333%;

        padding: 0 $gap;

        gap: $gap;
      }
      @include lg-sm {
        flex: 1 0 50%;

        padding: 0 $gap;

        gap: $gap;
      }
      @include sm {
        flex: 1 0 100%;

        padding: 0 0 0 ($gap * 0.25);

        gap: ($gap * 1.25);
      }
    }
    &__block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      order: 2;

      row-gap: 13px;
    }
    &__title {
      margin: 0;

      font-size: 1.375rem;
    }
    &__description {
      margin: 0;

      color: $color-gray-light;

      line-height: $gap;
    }
    &__icon {
      order: 1;

      min-width: 50px;

      text-align: center;
      i {
        font-size: 3.1rem;
      }
    }
  }
}
