.header-menu {
  &__logo {
    display: flex;
    align-items: center;

    margin-top: -($gap * 0.25);

    gap: ($gap / 2);
    img {
      display: block;
    }
    strong {
      display: flex;

      font-size: 1.875rem;
    }
  }
}
