.header-menu {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-top: ($gap * 1.5);

  @include md-min {
    min-height: ($gap * 7);
  }
  @include md {
    min-height: ($gap * 5);
  }
  &__item {
    &:last-of-type {
      margin-right: -$gap;
    }
  }
  &__link {
    position: relative;

    display: block;

    padding: ($gap * 0.5) $gap;

    letter-spacing: 0.03em;

    font-size: 1.375rem;
    font-weight: 700;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      display: block;

      width: 0;
      height: 4px;

      content: "";
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);

      background-color: $color-primary;
    }
    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}
